:root {
    --fheader: 'Montserrat', Sans-serif;
    --ftexto: 'Montserrat', Sans-serif;

    --primario: #86eac2;
    --secundario: #6a59b2;
    --claros: #7c7c7c;   
    --negro: #171717; 
    --blanco: #ffffff;
}

/*Utilidades*/

.wd100 {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;       /* 1rem = 10px */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

*, *::before, *::after {
    box-sizing: inherit; 
}


/*Globales*/

body {
    height: auto;
    background-color: var(--blanco);
}

h1 {
    font-family: var(--fheader);
    font-size: 5rem;
    font-weight: 900;
}

h2 {
    font-family:  var(--fheader);
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-family:  var(--ftexto);
    font-size: 3rem;
    font-weight: 400;
}

p {
    font-family: var(--ftexto);
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--medios);
}


/*Navbar*/

header {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navprincipal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro);
}

.navlogo {
    position: absolute;
    left: 10%;
}

.navprincipal ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    height: 100%;
    width: 30%;
    left: 60%;
}

.navprincipal li a {
    position: relative;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: var(--ftexto);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--blanco);
    transition: color 0.2s ease;
}

.navprincipal li a:hover {
    color: var(--primario);
}


/*index.html*/
/*intro - sección 01*/

.contenidomain {
    position: relative;
    top: 7vh;
    width: 100vw;
    height: 166vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-uno {
    position: relative;
    display:block;
    width: 100vw;
    height: 73vh;
    background-color: var(--negro);
    overflow: hidden;

}

.imgheroc1 {
    position: absolute;
    background-image: url(/img/hero1.webp);
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}

.cursor-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: exclusion;
    background: white;
    clip-path: circle(70vw at center); /* tamaño del círculo */
    pointer-events: none; /* evita bloquear interacciones */
    transition: clip-path 0.7s ease-out;
    z-index: 1;
}

.textosc1 {
    position: absolute;
    left: 60%;
    bottom: 0%;
    background-color: var(--blanco);
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    width: 30%;
    z-index: 2;
}

.p1c1 {
    position: relative;
    top: 10%;
    color: var(--negro);
    padding: 2rem;
    border-radius: 50px;
}

#desplazarabajo {
    cursor: pointer;
    pointer-events: auto;
    margin-bottom: 2rem;
    width: 80px;
    height: 100px;
}


/*intro - sección 02*/

.contenido-dos {
    position: relative;
    width: 100%;    
    height: 93vh;
    background-color: var(--blanco);
    background-size: contain;
    background-repeat: no-repeat;
}

.textosc2 {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 20vh;
    width: 100vw;
    padding: 2rem;
}

.h1c2 {
    position: absolute;
    width: 60%;
    max-width: 60%;
    max-height: 100%;
    color: var(--negro);
    text-align: right;
    text-transform: uppercase;
    line-height: 1;
    font-size: clamp(2rem, 4vw + 0.5rem, 75px);
    font-weight: 900;
    padding-right: 2rem;
}

.p1c2 {
    position: absolute;
    width: 30%;
    left: 60%;
    color: var(--negro);
    padding-left: 2rem;
}

.indexserv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.serv {
    width: 100%;
    height: 5vh;
    transition: height 0.6s ease;
    overflow: hidden;
    cursor: pointer;
}

.serv.activo {
    height: 70%;
}

.serv h2 {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 61%;
    color: var(--negro);
    font-weight: 400;
    font-size: 1.7rem;
    background-color: var(--blanco);
    border: 1px solid var(--negro);
}

.serv1 h2 { border-top: 2px solid var(--negro);}
.serv4 h2 { border-bottom: 2px solid var(--negro);}

.contenido-serv {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.serv1 .contenido-serv { background-image: url(/img/pruebamuest.webp); }
.serv2 .contenido-serv { background-image: url(/img/pruebamuest.webp); }
.serv3 .contenido-serv { background-image: url(/img/pruebamuest.webp); }
.serv4 .contenido-serv { background-image: url(/img/pruebamuest.webp); }


/*-------------------------------------------------------------------------------*/

/*services.html*/
.contenidomain-serv {
    position: relative;
    top: 7vh;
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Introducción a servicios*/
/*menu*/
.intro-servicios {
    width: 80%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: flex-end;
    top: 0;
    z-index: 100;
}
/*
.titulo-servicio, .menu-servicio {
    position: sticky;
}
*/
.menu-servicio {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-left: 1px solid var(--negro);
    background-color: var(--negro);
}

/*Botón*/
.menu-servicio button {
    all: unset;
    display: block;
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--ftexto);
    font-weight: 600;
    cursor: pointer;
    height: 100%;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: var(--negro);
    transition:
        background-color 0.7s ease;
}

.menu-servicio button {
    background-color: var(--blanco);
    color: var(--claros);
}


.menu-servicio button:hover {
    background-color: var(--secundario);
    color: var(--blanco);
    font-weight: 600;
}

/*clic (botón activo)*/
.menu-servicio button.activo {
    background-color: var(--primario);
    color: var(--blanco);
    pointer-events: none;
    font-weight: 600;
}

/*título*/
.titulo-servicio {
    position: sticky;
    height: 30%;
    padding: 2rem;
    display: flex;
    align-items: center;
    font-size: clamp(2rem, 4vw + 1rem, 90px);
    border: 1px solid var(--negro);
    background-color: var(--blanco);
}

.titulo-servicio h2 {
    font-size: clamp(2rem, 3vw, 70px);
    text-transform: uppercase;
}

/*descripción*/
.descripcion-servicio {
    height: 27%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-color: var(--blanco);
    font-size: 2.1rem;
    color: var(--negro);
    border: solid var(--negro);
    border-width: 0 1px 1px 1px;
}

/*Img servicios*/

.imgprecio-servicios {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


    .imgservicio {
    width: 100%;
    height: 60vh;
    background-image: url(/img/ancho.webp);
    background-size: cover;
    background-position: center;
}

.planesserv {
    z-index: 27;
}

.planes-servicio {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
    
.planes-servicio > div {
    flex: 1;
    background: var(--blanco);
    border: 1px solid var(--negro);
    padding: 1rem 2rem 2rem 2rem;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px 50px 0 0;
    transform-style: preserve-3d;
    perspective: 900px;
    will-change: transform;
}   

.planes-servicio h3 {
    text-align: center;
    color: var(--claros);    
}



